<ion-header *ngIf="form">
  <ion-toolbar [formGroup]="form">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="recipes"></ion-back-button>
    </ion-buttons>
    <ion-input
      type="text"
      [placeholder]="'recipe.toolbar.titlePlaceholder' | translate"
      formControlName="title"
    ></ion-input>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="form" [formGroup]="form">
  <ion-item>
    <ion-label>{{ 'recipe.content.servings' | translate}}</ion-label>
    <ion-input
      type="number"
      placeholder="#"
      formControlName="servings"
    ></ion-input>
  </ion-item>
  <ion-item lines="full">
    <ion-label>
      <h2>{{ 'recipe.content.ingredients.title' | translate }}</h2>
    </ion-label>
    <ion-button (click)="findIngredient()">
      <ion-icon slot="icon-only" name="add"></ion-icon>
    </ion-button>
  </ion-item>

  <ion-list>
    <ion-reorder-group
      [disabled]="false"
      (ionItemReorder)="handleReorder($any($event))"
    >
      <app-recipe-ingredient-item
        *ngFor="let recipeIngredient of entity?.ingredients"
        [ingredient]="recipeIngredient.ingredient"
        (ingredientRemove)="removeIngredient($event)"
        (ingredientConnect)="findIngredient($event)"
      >
      </app-recipe-ingredient-item>
    </ion-reorder-group>
  </ion-list>
  <ion-item>
    <ion-label>
      <h2>{{ 'recipe.content.steps.title' | translate }}</h2>
    </ion-label>
    <ion-textarea [autoGrow]="true" formControlName="body"></ion-textarea>
  </ion-item>
</ion-content>
